@mixin text-g {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #7952b4 0%, #745ce0 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);
  }